@import url(reset.css);
@import url(webfonts.css);

/* navigation */

.wrap {
  width: 1195px;
  margin: auto;
}

.header {
  width: 1195px;
  height: 231px;
  margin: auto;
}

button {
  color: #04c35c;
}

#userMenu {
  margin-top: 5px;
  float: right;
}

.list_menu > li {
  margin-right: 30px;
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  line-height: 16px;
}

.list_menu > li > a {
  text-decoration: none;
  color: #000;
}

#logo {
  padding: 60px 501px 35px 501px;
  text-align: center;

  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 52px;
  text-align: center;

  color: #04c35c;
}

.nav_menu {
  display: flex;
}

.nav_menu > ul > li > a {
  text-decoration: none;
  color: #000;
}

.nav_menu > ul > li > a:hover {
  color: #04c35c;
}

.nav_menu > ul > li > a:hover {
  text-decoration: underline;
  color: #04c35c;
}

ul {
  display: flex;
}

.menu1 {
  text-align: center;
  padding-top: 30px;
  vertical-align: middle;
  width: 174px;
  height: 54px;
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 29px;
}

.menu2 {
  text-align: center;
  padding-top: 30px;
  width: 174px;
  height: 54px;
  margin-left: 30px;
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 29px;
}

.menu3 {
  text-align: center;
  padding-top: 30px;
  width: 174px;
  height: 54px;
  margin-left: 30px;
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 29px;
}

.menu4 {
  text-align: center;
  padding-top: 30px;
  width: 174px;
  height: 54px;
  margin-left: 30px;
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 29px;
}

.nav_search {
  display: flex;
  margin-top: 13px;
  width: 300px;
  height: 60px;
  margin-left: 30px;
  border-radius: 4px;
  background-color: #e8e8e8;
}

.search_bar {
  display: flex;
  border: none;
  width: 260px;
  height: 60px;
  background: rgba(0, 0, 0, 0);

  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 23px;
}

.search_btn {
  height: 25px;
  margin-top: 20px;
}

.Line-1 {
  width: 1195px;
  height: 1px;
  flex-grow: 0;
  margin-top: 14px;
  transform: rotate(-180deg);
  background-color: rgba(0, 0, 0, 0.1);
}

/* index page */

.main {
  padding-top: 12px;
  width: 1195px;
  height: 1200px;
  margin: auto;
}

#index-image {
  width: 1192px;
  height: 269px;
  padding-top: 12px;
  margin-top: 12px;
  border-radius: 10px;
  background-color: #c4c4c4;
}

#index-best0 {
  width: 185px;
  height: 43px;
  padding: 58px 510px 5px 510px;

  font-family: "Noto Sans KR";
  font-size: 30px;
  font-weight: 500;
  font-style: normal;
  line-height: normal;
  text-align: center;
  color: #000;
}

.main_menu {
  display: flex;
}

.best_image_start {
  width: 276px;
  height: 314px;
  padding-top: 6px;
  border-radius: 10px;
  background-color: #c4c4c4;
}

.best_image {
  width: 276px;
  height: 314px;
  padding-top: 6px;
  margin-left: 30px;
  border-radius: 10px;
  background-color: #c4c4c4;
}

.main_menu_btn {
  display: flex;
}

.main_menu_btn > ul > li > a {
  text-decoration: none;
  color: #000;
}

.main_menu_btn > ul > li > a:hover {
  text-decoration: underline;
  color: #000;
}

.main_menu_btn_st {
  text-align: center;
  padding-top: 15px;
  padding-left: 50px;
  vertical-align: middle;
  width: 172px;
  height: 54px;
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 29px;
}

.main_menu_btn_st2 {
  text-align: center;
  padding-top: 15px;
  padding-left: 134px;
  vertical-align: middle;
  width: 172px;
  height: 54px;
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 29px;
}

.main_menu_btn_st_e {
  text-align: center;
  padding-top: 15px;
  padding-left: 134px;
  padding-right: 50px;
  vertical-align: middle;
  width: 172px;
  height: 54px;
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 29px;
}

/* login page */

.login_page {
  padding-top: 40px;
  width: 1195px;
  height: 1200px;
  margin: auto;
}

.login_h {
  width: 91px;
  height: 46px;
  padding: 40px 552px 5px 552px;

  font-family: "Noto Sans KR";
  font-size: 30px;
  font-weight: 500;
  font-style: normal;
  line-height: normal;
  text-align: center;
  color: #000;
}

.login_textline {
  padding: 7px 408px 0px 408px;
  width: 378px;
  height: auto;
  margin: auto;
}

.login_idpw_text {
  width: 48.6px;
  height: 24.6px;
  margin-top: 5px;

  font-family: "Noto Sans KR";
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  line-height: normal;
  text-align: left;
  color: #000;
}

.login_input_idpw {
  width: 378px;
  height: 53.5px;

  margin-top: 5px;
  margin-bottom: 27px;
  border-radius: 5px;
  border: solid 1px #e8e8e8;
}

.login_session_check {
  width: 105px;
  height: 22px;
  margin-left: 0px;

  font-family: "Noto Sans KR";
  font-size: 13px;
  font-weight: 500;
  font-style: normal;
  line-height: normal;
  text-align: left;
  color: #000;
}

.login_find_idpw {
  width: 105px;
  height: 22px;
  margin-left: 105px;

  font-family: "Noto Sans KR";
  font-size: 13px;
  font-weight: 500;
  font-style: normal;
  line-height: normal;
  text-align: right;
  color: #000;
}

.login_find_idpw > a {
  text-decoration: none;
  color: #000;
}

.login_find_idpw > a:hover {
  text-decoration: underline;
  color: #000;
}

.login_btnline {
  padding: 7px 408px 0px 408px;
  width: 378px;
  height: 150px;
  margin-top: 39px;
}

.login_loginbtn {
  width: 378px;
  height: 53px;
  border-radius: 5px;
  background-color: #04c35c;
  margin-bottom: 15px;
  border: 0;
  outline: 0;

  font-family: "Noto Sans KR";
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  text-align: center;
  color: #fff;
}

.login_signupbtn {
  width: 378px;
  height: 53px;
  border-radius: 5px;
  background-color: #2d3748;
  border: 0;
  outline: 0;

  font-family: "Noto Sans KR";
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  text-align: center;
  color: #fff;
}

/* join page */

.signup_page {
  padding-top: 40px;
  width: 1195px;
  height: 1200px;
  margin: auto;
}

.signup_h {
  width: 130px;
  height: 46px;
  padding: 40px 532.5px 5px 532.5px;

  font-family: "Noto Sans KR";
  font-size: 30px;
  font-weight: 500;
  font-style: normal;
  line-height: normal;
  text-align: center;
  color: #000;
}

.signup_textline {
  padding: 7px 340px 0px 340px;
  width: 600px;
  height: auto;
  margin: auto;
}

.signup_text {
  width: auto;
  height: 24.6px;
  margin: 0;

  font-family: "Noto Sans KR";
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  line-height: normal;
  text-align: left;
  color: #000;
}

.signup_input {
  width: 378px;
  height: 53.5px;

  margin-top: 5px;
  margin-bottom: 27px;
  margin-left: 50px;
  border-radius: 5px;
  border: solid 1px #e8e8e8;
}

.signup_btnline {
  padding: 7px 408px 0px 408px;
  width: 378px;
  height: 150px;
  margin-top: 20px;
}

.signup_btn {
  width: 378px;
  height: 53px;
  border-radius: 5px;
  background-color: #04c35c;
  margin-bottom: 15px;
  border: 0;
  outline: 0;

  font-family: "Noto Sans KR";
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  text-align: center;
  color: #fff;
}

/* recipe page, rank page */

.recipe_page {
  width: 1200px;
  height: auto;
  padding-top: 40px;
  margin: auto;
}

.recipe_h {
  width: 700px;
  height: 46px;
  padding: 40px 247.5px 5px 247.5px;

  font-family: "Noto Sans KR";
  font-size: 30px;
  font-weight: 500;
  font-style: normal;
  line-height: normal;
  text-align: center;
  color: #000;
}

.recipe_image {
  width: 285px;
  height: 280px;
  margin: 0 7px 19px 7px;
  flex-grow: 0;
  background-color: #c4c4c4;
}

.recipe_insert {
  width: 150px;
  height: 17px;
  flex-grow: 0;
  margin: 7px 18.4px 7px 18.4px;

  font-family: "Noto Sans KR";
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  line-height: normal;
  text-align: left;
  color: #000;
}

.recipe_title {
  width: 250px;
  height: 60px;
  flex-grow: 0;
  margin: 7px 18.4px 7px 18.4px;

  font-family: "Noto Sans KR";
  font-size: 18px;
  font-weight: 500;
  font-style: normal;
  line-height: normal;
  text-align: left;
  color: #000;
}

.recipe_content {
  width: 250px;
  height: 60px;
  flex-grow: 0;
  margin: 7px 18.4px 0px 18.4px;

  font-family: "Noto Sans KR";
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  line-height: normal;
  text-align: left;
  color: #000;
}

.recipe_line {
  width: 248.2px;
  height: 0.5px;
  margin: 2px 18.4px 20px 18.4px;
  flex-grow: 0;
  transform: rotate(-0.04deg);
  background-color: #e5e5e5;
}

.recipe_menu {
  width: 1210px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.recipe_paging {
  width: auto;
  height: 30px;
  margin-top: 47px;
  padding: 0 450px 50px 450px;
  text-align: center;
}

.recipe_pagination {
  text-align: center;
  width: auto;
  height: 26px;
  margin-left: 15px;
  margin-right: 15px;
  font-family: "Noto Sans KR";
  font-size: 20px;
  font-weight: 500;
  font-style: normal;
  line-height: 1.09;
  color: #04c35c;
  display: inline-block;
}
